<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>New User</title>
</head>
<body>

<h1>Add new user</h1>

<div class="container">
    <form method="post">
        <fieldset class="form-group">
            <label class="font-weight-bolder text-center">First Name</label>

            <input class="form-control"
                   name="firstName"
                   placeholder="Enter your first name"
                   type="text">

        </fieldset>

        <fieldset class="form-group">
            <label class="font-weight-bolder">Last Name</label>

            <input class="form-control"
                   name="lastName"
                   placeholder="Enter your last name"
                   type="text">
        </fieldset>

        <fieldset class="form-group">
            <label class="font-weight-bolder">Age</label>
            <input class="form-control"
                   name="age"
                   placeholder="Enter your age"
                   type="number">
        </fieldset>

        <fieldset class="form-group">
            <label class="font-weight-bolder">Email</label>

            <input class="form-control"
                   name="email"
                   placeholder="Enter your email"
                   type="email">
        </fieldset>

        <fieldset class="form-group">
            <label class="font-weight-bolder">Password</label>

            <input class="form-control"
                   name="password"
                   placeholder="Enter your password"
                   type="password">
        </fieldset>
        <fieldset class="form-group">
            <label class="font-weight-bolder">Role</label>
            <div class="select" style="width:225px;" align="center">
                <select name="role" multiple size="2" style="width: 225px; ">
                    <option> ADMIN</option>
                    <option selected> USER</option>
                </select>
            </div>
        </fieldset>

        <button type="submit" class="btn btn-success">Add new user</button>
    </form>
</div>
</body>
</html>