<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Edit User</title>
</head>
<body>

<h1>Edit User</h1>

<div class="container">
    <form action="#"
          th:action="@{/update/{id}(id=${user.id})}"
          th:object="${user}"
          method="post">

        <fieldset class="form-group">
            <label class="font-weight-bolder">ID</label>

            <input class="form-control"
                   th:field="*{id}"
                   name="id"
                   placeholder="ID"
                   type="number">
        </fieldset>

        <fieldset class="form-group">
            <label class="font-weight-bolder">First Name</label>

            <input class="form-control"
                   th:field="*{firstName}"
                   name="firstName"
                   placeholder="First name"
                   type="text">
        </fieldset>

        <fieldset class="form-group">
            <label class="font-weight-bolder">Last Name</label>

            <input class="form-control"
                   th:field="*{lastName}"
                   name="lastName"
                   placeholder="Last name"
                   type="text">
        </fieldset>

        <fieldset class="form-group">
            <label class="font-weight-bolder">Age</label>
            <input class="form-control"
                   th:field="*{age}"
                   name="age"
                   placeholder="Age"
                   type="number">
        </fieldset>

        <fieldset class="form-group">
            <label class="font-weight-bolder">Email</label>

            <input class="form-control"
                   th:field="*{email}"
                   name="email"
                   placeholder="Email"
                   type="email">
        </fieldset>

        <fieldset class="form-group">
            <label class="font-weight-bolder">Password</label>

            <input class="form-control"
                   th:field="*{password}"
                   name="password"
                   placeholder="Password"
                   type="password">
        </fieldset>
        <fieldset class="form-group">
            <label class="font-weight-bolder">Role</label>
            <div class="select" style="width:225px;" align="center">
                <select name="role" multiple size="2" style="width: 225px; ">
                    <option> ADMIN</option>
                    <option selected> USER</option>
                </select>
            </div>
        </fieldset>
        <a href="/">
            <button type="button" class="btn btn-secondary">Close</button>
        </a>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>
</body>
</html>